button {
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 2em;
  margin: 0.25em;
  font-size: 1.4em;
  color: white;
  justify-content: center;
}
button:hover {
  background-color: gray;
  cursor: pointer;
}
.container {
  box-sizing: border-box;
  margin: auto;
  margin-top: 100px;
  width: 224px;
  height: 345px;
  background-color: black;
  border-radius: 20px;
  z-index: 10px;
}
#zero {
  height: 2em;
  width: 4.5em;
}
.write {
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 100px;
  font-size: 2em;
  overflow: scroll;
}
.number {
  color: rgb(249, 249, 249);
  background-color: rgb(49, 49, 49);
  align-items: center;
  margin: 6px 6px;
  padding: 0px;
  
}
.up {
  background-color: rgb(160, 160, 160);
  margin: 0px 6px;
  padding: 0px;
  
}
.upcont{

 align-self: center;
 
}
.process {
  background-color: rgb(246, 153, 9);
  display: grid;
  grid-template-columns: 60px ;
  grid-template-rows: 40px;
  margin-top: 10px;
  align-items: center;
}
.processcontainer{
 position: absolute;
  top: 155px;
  z-index: 2;
  margin-left: 170px;
  align-items: center;
}
.process:hover {
  background-color: white;
  color: rgb(246, 153, 9);
}
